:root {
  --fullShade: #050505;
  --emptyShade: #ffffff;
  --lightestShade: #4fb9ae5a;
  --lightShade: #05998d84;
  --darkShade: #037c6e;
  --darkerShade: #025043;
  --copper: #ecc607;
  --bg: #81cdc6;
}

* {
  font-family: "Times New Roman", Times, serif;
}

body {
  background: var(--lightestShade);
  background-image: linear-gradient(rgba(2, 5, 17, 0.7), rgba(106, 114, 148, 0.7)), url('Images/Header_photo3.jpg');
  justify-content: center;
  align-items: center;
}

/* Scroll bar */
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb
{
  background: var(--lightShade);
  border-radius: 6px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--lightShade);
  transition: 0.5s;
  z-index: 1000;
}
.sticky{
  background: var(--darkShade);
  box-shadow: 0 5px 10px var(--lightestShade);
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
header ul li {
  list-style: none;
  margin: 9px;
}
header ul li a {
  text-decoration: none;
  padding: 6px;
  gap: 3px;
}
.button {
  font-size: 15px;
  color: var(--copper);
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color;
}
.button:focus,
.button:hover {
  color: var(--emptyShade);
}
.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}
.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--emptyShade);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.search {
  padding: 0.7rem 1rem;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: var(--darkerShade);
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}
.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}
.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--darkerShade);
}
.search__input:focus + .search__button {
  background-color: #f0eeee;
}
.search__button {
  border: none;
  background-color: #f4f2f200;
  margin-top: .1em;
}
.search__button:hover {
  cursor: pointer;
}
.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: var(--darkerShade);
}

.wrapper {
  width: 1170px;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}
.wrapper h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  color: var(--copper);
  margin: 0;
}
.single-service {
  position: relative;
  width: 31%;
  height: 320px;
  background: var(--darkerShade);
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 4px var(--lightestShade);
  padding: 15px;
  transition: .5s;
  overflow: hidden;
  float: left;
  margin: 0 10px;
  text-align: center;
}
.line {
  width: 150px;
  height: 3px;
  background: var(--copper);
  margin: 0 auto 60px auto;
}
.single-service p {
  color: var(--emptyShade);
  font-size: 14px;
}
.single-service h3 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--emptyShade);
}
.single-service a {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--emptyShade);
  text-align: 10px;
}
.social {
  width: 60px;
  height: 60px;
  background: var(--lightestShade);
  border-radius: 50%;
  margin: 5% auto;
}
.social i {
  font-size: 30px;
  padding-top: 15px;
  color: var(--emptyShade);
}
.single-service span {
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: .7s;
  transform: skewX(10deg);
}
.single-service:hover span {
  left: 110%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: var(--lightShade);
  color: var(--emptyShade);
  padding: 20px 0;
  margin-top: 50px;
  text-align: center;
}
